**/target/
nostr.db
nostr.db-*
justfile
result
**/.idea/
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.swiftpm/xcode
.build/

# Logs
*.log

# Python virtual environments
spam_analysis_venv/

# NostrRelayApp
NostrRelayApp.app/

# Relay run logs
*.log
